.App{
  min-height: 100vh;
  box-sizing: border-box;
  background-color:#4d4d33;
}

.search-form{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 8px;
}

.search-button{
  border: none;
  padding: 8px 15px;
  margin-left: 3px;
  background: linear-gradient(to bottom, #0066cc 0%, #6600ff 100%);
}

.recipe{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}